
# Created by https://www.gitignore.io/api/vagrant,grunt,wordpress

### Vagrant ###
.vagrant/


### grunt ###
# Grunt usually compiles files inside this directory
dist/

# Grunt usually preprocesses files such as coffeescript, compass... inside the .tmp directory
.tmp/

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt


### Node ###
# Node Dependency directories
node_modules
jspm_packages

### WordPress ###
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
