a:hover {
	color: inherit;
}
.side-menu-cnt {
	ul {
		a:hover {
			font-size: 1.6rem;
			border-bottom: 1px solid white;
		}
	}
	.contact-field {
		bottom: 5%;

		a:hover {
			color: rgba(150, 150, 150, 1);
		}
	}
}
.landing{
	.avatar {
		filter: none;
		transition: border-color, .8s;
	}
	.avatar:hover{
		border-color: rgba(0,0,0,0.6);
	}
	#scroll-down {
		margin-top: 20vh;
	}
	#menu-toggle {
		transition: font-size, .5s;
	}
	#menu-toggle:hover {
		font-size: 3.3rem;
	}
}
.portfolio {
	.portfolio-item {
		.portfolio-item-link {
			max-width: 450px;

			.project-link-text {
				h4 {
					font-size: 1.56rem;
				}
			}
			.project-info {

				.portfolio-post {
					padding: 2%;

					img {
						width: 85%;
						margin-top: 1rem;
					}
					hr {
						margin: 0;
					}
					.single-content {
						border-right: 1px solid $lightOpac;

						p {
							margin-top: 1rem;
						}
					}
					.portfolio-post-right-col {
						align-self: center;

						h4 {
							margin-bottom: 1rem;
						}
						h5 {
							margin-top: 1rem;
						}
						a:hover {
							font-size: 1.5rem;
						}
					}
				}
				.tech {
					border-top: 1px solid $lightOpac;
				}
			}
		}
	}
}