// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600);
// @import url(https://fonts.googleapis.com/css?family=Playfair+Display:700,900|Inconsolata);
// @import url(https://fonts.googleapis.com/css?family=Playfair+Display:700,900|Inconsolata:400,700|Old+Standard+TT:700|Libre+Baskerville:700);
// @import url(https://fonts.googleapis.com/css?family=Playfair+Display:700,900|Inconsolata:400,700|Old+Standard+TT:700|Libre+Baskerville:700|Work+Sans);
// @import url(https://fonts.googleapis.com/css?family=Playfair+Display:700,900|Alegreya+Sans|Inconsolata:400,700|Old+Standard+TT:700|Libre+Baskerville:700|Work+Sans);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700|Open+Sans);

$dark: #202020;
$light: #fafafa;

$lightOpac: rgba(255, 255, 255, 0.7);

@mixin avatar {
			max-width: 100%;
			height: auto;
			display: block;
			margin: 0 auto;
			border-radius: 100%;
			// border: 0.5rem solid rgba(99,99,99,0.4);
			// box-sizing: border-box;

}
@mixin cc {
	display: flex;
	justify-content: center;
	align-items: center;
}