body {
	font-size: 1em;
	// background: $dark;
	background-color: rgba(0,0,0,0.1);
	// background: transparent;
	color: $light;
	// margin-top: 5rem;
	height: 400vh;

	background-image: url('../img/bg-1080.jpeg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;

	background-size: cover;
}
.row {
	max-width: 100%;
}
a {
	text-decoration: none;
	color: inherit;
	transition: font-size, 0.5s;
}
.fa {
	// font-size: 3rem;
}

/* Grid */

.cc {
	display: flex;
	justify-content: center;
	align-items: center;
}
.landing {
	background-color: rgba(99,99,99,0.3);
	height: 85vh;
	position: relative;
	// margin-left: 0;
	// margin-right: 0;
	// top: 0;
	// left: 0;
	// float: left;
	.profile {
		padding-top: 2rem;

		h1 {
			margin-top: 5%;
		}

		.avatar { /* Wordpress added class for img */
			@include avatar;
			border: 0.5rem solid rgba(0,0,0,0.25);
			box-sizing: border-box;
		}
	}
	#scroll-down {
		margin-top: 10vh;
	}
}
.menu-toggle {
	position: fixed;
	// padding: 0.9rem;
	cursor: pointer;
	color: $light;
	font-size: 3rem;
	// margin-left: 0.2rem;
}

	
.side-menu-cnt {
	float: left;
	width: 250px;
	height: 100vh;
	background-color: rgba(0,0,0,0.3);
	position: fixed;
	left: - 250px;
	z-index: 1;
	// padding-top: 10vh;

	.menu-portrait {
		padding: 10vh 0 10vh 0;
	}

	.avatar {
		@include avatar;
	}
	ul {
		margin: 0;
		list-style-type: none;
		text-align: center;
	}
	.fa {
		font-size: 2.3rem;
	}
}


.clearfix {
	clear: both;
}

.content {
	// clear: both;
	height: 40vh;
	background-color: lightsteelblue;
}

.row hr {
	max-width: none !important;
}


#wrapper {
	position: relative;
	top: 0;
	left: 0;
	// padding: 0;
}
.about {
	padding-top: 3rem;
	padding-bottom: 3rem;
	img {
		border-radius: 100%;

	}
	.repeat {
		padding-top: 2rem;
		cursor: pointer;
	}
}
	
.center-block {
	display: block;
	margin: 0 auto;
}

// .skill {
// 	width: 8rem;
// 	height: 8rem;
// 	border: 1rem solid green;
// 	// background-color: green;
// 	border-radius: 100%;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	font-weight: 700;
// 	font-size: 1.5rem;
// }
.portfolio {

	.portfolio-item {
		display: flex;
		justify-content: center;
		align-items: center;
		// opacity: 0;
		// display:none;
		float: left;
		position: relative;
		left: -5000px;

		// margin-top: 1rem;
		// margin-bottom: 1rem;

		.portfolio-item-listing {
			// height: 100%;

			img {
				width: 100%;
			}
		}

		.portfolio-item-link {

			position: relative;
			// padding: 0;

			.loading {
				display: none;
				padding-top: 1rem;
				color: $lightOpac;
				// background-color: rgba(0, 0, 0, 0.6);
				
			}
			.close-info {
				color: $lightOpac;
				padding: 0.5rem;
				font-size: 3rem;
				position: absolute;
				top: 0;
				right: 2%;
				display: none;
				z-index: 2;
				&:hover {
					color: initial;
				}
			}
			img {
				width: 100%;
			}

			.project-link-text {
				color: #202020;
				display:flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				left: 0;

				h4 {
					font-size: 1.4rem;
				}
			}
			.project-info {
				color: $dark;
				display: none;
				position: absolute;
				top: 0;

				// .portfolio-post-small {
				// 	min-height: 50vh;
				// 	@include cc;
				// 	flex-direction: column;
				// 	// padding: 10% 5%;
				// 	color: $light;

				// }
				.portfolio-post {
					min-height: 50vh;
					@include cc;
					flex-direction: column;
					// padding: 10% 5%;
					color: $light;
				}

				// .portfolio-post-medium {
				// 	color: $light;
				// 	padding: 10% 5%;

				// 	p:first-child {
				// 		margin-top: 1.5rem
				// 	}

				// }
			}
		}
	}
}
.hr {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	img {
		width: 100%;
	}
}
.responsive-img {
	max-width: 100%;
	height: auto;
	display: block;
}
.toggle-img {
	padding: 0;
	background-image: url('../img/portrait.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
footer {
	height: 3vh;
	background-color: rgba(99,99,99,0.3);

}

// #repeat-skill-animation {
// 	font-size: 1.5rem;
// }