.menu-toggle {
	padding: 0.9rem;
}
.side-menu-cnt {
	ul {
		li {
			margin-bottom: 0.5rem;
		}
		a {
			font-size: 1.3rem;
			font-weight: 600;
		}
	}
}
.portfolio {
	.portfolio-item {
		.portfolio-item-link {
			.project-link-text {
				h4 {
					font-size: 2rem;
				}
			}
			.project-info {

				.portfolio-post {
					color: $light;
					padding: 10% 5%;
					min-height: 75vh;

					img {
						width: 50%;
					}
					.single-content {
						p {
							margin-top: 1rem;
						}
					}
					.portfolio-post-info {
						border-top: 1px solid $lightOpac;
					}
					h2 {
						margin-bottom: 1rem;
					}
				}
			}
		}
	}
}
